body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

section
{
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
}

section.sec1
{
	background-image: url(NTI.jpg);
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}



section.sectext
{
	height: 89vh;
    width: 100%;
    background-color: #f6f6f6;
}

section.sectext h1
{
    margin: 0;
    padding: 0;
	font-size: 48px;
	text-align: center;
	position: relative;
	top: 50px;

}