/* CLASSES */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flexRow {
    flex-direction: row;
}

.flexSpaceBetween {
    justify-content: space-around;
}


.hidden {
    display: none;
    opacity: 0.0;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}